/* common styles */
.posRel {
    position:relative;
    left:30px;
}

article {
    margin-bottom: 40px;
    background:pink;
}

a,
a:hover {
  text-decoration: line-through;
  background-color: #F09;
}
